
:root {
    --primary-color: #008277;
    --background-color: #fafafa;
    --typeface-color: #1a1a1a;
    --brighter: #6FF9BF;
    --middle: #25AF91;
}

*{
    font-family: Roboto;
}

header {
	background-color: var(--off-white);
	padding: 20px;
}


.open a {
    display: block;
}
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "✖️";
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    background-color: var(--background-color);
}

nav div {
	list-style: none;
	display: none;
	flex-direction: column;
}

nav.open div {
    display: flex;
}

nav a {
	display: block;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
    color: var(--typeface-color);
}
nav a:hover {
    font-weight: bold;
    color: var(--primary-color); /*maybe change to 1a1a1a*/
}
.start-now {
    padding: .55rem;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    margin-top: 0.75rem;
    font-weight: bold;
    background: linear-gradient(135deg, var(--primary-color), #25AF91);
    border: none;
    max-width: 100px;
    align-self: center;
}
.start-now:hover {
    background: linear-gradient(135deg, #25AF91, #6FF9BF);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: var(--typeface-color);
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
}

footer div {
    padding: 1rem; 
}


*{
    font-family: Roboto;
    color: var(--typeface-color);
    margin: 0;
}


main {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
main form {

    align-self: center;
}
fieldset {
    margin: 2rem 0;
    border: 1px solid #667;
    border-radius: 30px;
    padding: 1rem 5%;
    padding-top: 0.5rem;
}

.frm {
    width: 90%;
    max-width: 600px;

}

h1 {
    color:#fff;
    text-align: center;
    background-color: var(--primary-color);
    margin: 0;
    padding: 1rem;
}



.frm label {
    display: block;
}

.frm input[type="text"],
.frm select {
    display: block;
    border: 1px solid var(--typeface-color);
    border-radius: 15px;
    padding: .75rem;
    width: 100%;
    box-sizing: border-box;
    margin-top: 2px;  
}

.frm input[type=checkbox]{
    margin-right: 6px;
    margin-top: 8px;
    transform: scale(1.3);
}

.frm input:required,
.frm select{
  border-left: 8px solid red;
}

.frm input:required:valid,
.frm select:required:valid {
    border-left: 8px solid var(--primary-color);
}

.frm input[type="submit"] {
    display: block;
    width: 150px;
    padding: .85rem;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    margin: 1rem 0;
    font-weight: bold;
    font-size: 18px;
    background: linear-gradient(135deg, var(--primary-color), #25AF91);
    border: none;

}

.frm input[type="submit"]:hover {
    background: linear-gradient(135deg, #25AF91, #6FF9BF);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: var(--typeface-color);
}
.ltitle {
    margin-top: 50px;
    font-size: 24px;
    color: var(--primary-color);
    font-weight: bold;
}

.title {
    margin-top: 20px;
    font-size: 18px;
    color: var(--primary-color);
    font-weight: bold;
}

.optional {
    font-size: 12px;
    font-weight: lighter;
}
.required {
  color: red;

}

footer * {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
}

footer div {
    padding: 1rem; 
}




@media (min-width: 650px) {
    header {
		display: flex;
		align-items: center;
		justify-content: space-between;
        padding: 0 1rem;

	}
    nav div {
        display: flex;
		justify-content: flex-end;
		flex-direction: row;
        align-items: center;
	}
    #menu {
		display: none; /* hide hamburger button */
	}
    .start-now {
        margin: 5px;
    }
}

